seed.py
.env
Missing courses & errors in CarletonCourseMap - Google Docs.pdf
.vscode/settings.json
personalLog.txt
scraper.py
# Node
node_modules/
.next/
dist/
build/

# Python
__pycache__/
*.pyc
.venv/